{{> navbar}}

<main>
    <div class="container formContainer mt-5">
        <div class="row mt-5">
            <div class="col mt-5">
                <h4 class="mt-5 mb-4">Create new job listing</h4>


                <form class="jobCreateForm p-5">
                    <div class="mb-3">
                        <label for="job-title-create" class="form-label">Job Title</label>
                        <input type="input" class="form-control" id="job-title-create" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="job-description-create" class="form-label">Description</label>
                        <input type="input" class="form-control" id="job-description-create"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="qualifications-create" class="form-label">Qualifications</label>
                        <input type="input" class="form-control" id="qualifications-create">
                    </div>
                    <div class="mb-3">
                        <label for="location-create" class="form-label">Where is this job located?</label>
                        <input type="input" class="form-control" id="location-create">
                    </div>
                    <div class="mb-3">
                        <label for="website-create" class="form-label">Enter the job application website:</label>
                        <input type="input" class="form-control" id="website-create">
                    </div>

                    <div class="category-switches p-3">
                        <h5 class="jobcategoriestitle p-2">What skill set is job for?</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="frontend" name="developer-type">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Front End
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="backend" name="developer-type">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Back End
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="fullstack" name="developer-type">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Full Stack
                            </label>
                        </div>

                    </div>

                    {{!-- <div class="category-switches p-3">
                        <h5 class="jobcategoriestitle p-2">Job Categories</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="front-end" name="developer-type"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Front-End</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="back-end" name="developer-type"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Back-End</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="full-stack" name="developer-type"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Full-Stack</label>
                        </div>

                    </div> --}}

                    <button type="submit" class="btn btn-primary">Create Job Listing</button>
                </form>

            </div>

        </div>
    </div>

</main>

<script src="/js/createJob.js"></script>