{{> navbar}}

<main>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="d-flex flex-row freelancerprofileheader">
        <h3 class="">Employer Jobs Page</h3>
        <a href="#" class="btn btn-primary btn-sm h-10 ms-auto mb-3">Create a new job listing</a>
      </div>
      <div class="col">
        <section class="section-1">
          <div class="container">


            <div>
              <a href="#frontEnd"><button type="button" class="btn btn-dark">Front-End</button></a>
              <a href="#backEnd"><button type="button" class="btn btn-dark">Back-End</button></a>
              <a href="#fullStack"><button type="button" class="btn btn-dark">Full-Stack</button></a>
            </div>

            <br>

            <h4 id="frontEnd">Front-end</h4>
            <div class="card mx-5 my-3">
              <div class="card-body">
                <p>Job Title</p>
                <p>Date Posted</p>
                <button class="btn btn-outline-primary" type="submit">View</button>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </div>
            </div>
            <div class="card mx-5 my-3">
              <div class="card-body">
                <p>Job Title</p>
                <p>Date Posted</p>
                <button class="btn btn-outline-primary" type="submit">View</button>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </div>
            </div>

            <h4 id="backEnd">Back-End</h4>
            <div class="card mx-5 my-3">
              <div class="card-body">
                <p>Job Title</p>
                <p>Date Posted</p>
                <button class="btn btn-outline-primary" type="submit">View</button>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </div>
            </div>
            <div class="card mx-5 my-3">
              <div class="card-body">
                <p>Job Title</p>
                <p>Date Posted</p>
                <button class="btn btn-outline-primary" type="submit">View</button>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </div>
            </div>

            <h4 id="fullStack">Full-Stack</h4>
            <div class="card mx-5 my-3">
              <div class="card-body">
                <p>Job Title</p>
                <p>Date Posted</p>
                <button class="btn btn-outline-primary" type="submit">View</button>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </div>
            </div>
            <div class="card mx-5 my-3">
              <div class="card-body">
                <p>Job Title</p>
                <p>Date Posted</p>
                <button class="btn btn-outline-primary" type="submit">View</button>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </div>
            </div>


          </div>


        </section>

      </div>
    </div>
  </div>

</main>