{{!-- Login Page --}}

{{> navbar}}

<main>

      <div class="container-fluid formContainer mt-5">
        <div class="row mt-5">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-5 mb-5">
            <h5 class="mb-5">Welcome Back</h5>
            <form class="login-form p-5"> 
              <div class="mb-3">
                <label for="email-login" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="password-login" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-login">
              </div>
              <div id="passwordHelpBlock" class="form-text m-2">
                Your password must be at least 8 characters long.
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>

          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 login-img">

            {{!-- <img src="./assets/pexels-ekaterina-bolovtsova-4050216.jpg" alt="side image"> --}}

          </div>
        </div>
      </div>
        
    </main>

    <script src="/js/login.js"></script>