<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Jobs Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./assets/styles.css">
</head>

<body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container-fluid">
          <a class="navbar-brand font-color" href="./index.html">FreeCruiter</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            <a class="nav-link active" href="./freelancer-profile.html">Freelancer</a>
            <a class="nav-link active" href="./employerjobs.html">Employer</a>
            <a class="nav-link active" href="./login.html">Login</a>
          </div>
          </div>
        </div>
        </nav>
    </header>

    <main>
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="d-flex flex-row freelancerprofileheader">
                    <h3 class="">Employer Jobs Page</h3>
                    <a href="#" class="btn btn-primary btn-sm h-10 ms-auto mb-3">Create a new job listing</a>
                  </div>
                <div class="col">
                    <section class="section-1">
                        <div class="container">
                        
            
                          <div>
                            <a href="#frontEnd"><button type="button" class="btn btn-dark" >Front-End</button></a>
                            <a href="#backEnd"><button type="button" class="btn btn-dark" >Back-End</button></a>
                            <a href="#fullStack"><button type="button" class="btn btn-dark" >Full-Stack</button></a>
                          </div>
            
                        <br>

                          <h4 id="frontEnd">Front-end</h4>
                          <div class="card mx-5 my-3">
                            <div class="card-body">
                                <p>Job Title</p>
                                <p>Date Posted</p>
                                <button class="btn btn-outline-primary" type="submit">View</button>
                                <button class="btn btn-outline-primary" type="submit">Update</button>
                                <button class="btn btn-outline-primary" type="submit">Delete</button>
                            </div>
                          </div>
                          <div class="card mx-5 my-3">
                            <div class="card-body">
                                <p>Job Title</p>
                                <p>Date Posted</p>
                                <button class="btn btn-outline-primary" type="submit">View</button>
                                <button class="btn btn-outline-primary" type="submit">Update</button>
                                <button class="btn btn-outline-primary" type="submit">Delete</button>
                            </div>
                          </div>
            
                          <h4 id="backEnd">Back-End</h4>
                          <div class="card mx-5 my-3">
                            <div class="card-body">
                                <p>Job Title</p>
                                <p>Date Posted</p>
                                <button class="btn btn-outline-primary" type="submit">View</button>
                                <button class="btn btn-outline-primary" type="submit">Update</button>
                                <button class="btn btn-outline-primary" type="submit">Delete</button>
                            </div>
                          </div>
                          <div class="card mx-5 my-3">
                            <div class="card-body">
                                <p>Job Title</p>
                                <p>Date Posted</p>
                                <button class="btn btn-outline-primary" type="submit">View</button>
                                <button class="btn btn-outline-primary" type="submit">Update</button>
                                <button class="btn btn-outline-primary" type="submit">Delete</button>
                            </div>
                          </div>
            
                          <h4 id="fullStack">Full-Stack</h4>
                          <div class="card mx-5 my-3">
                            <div class="card-body">
                                <p>Job Title</p>
                                <p>Date Posted</p>
                                <button class="btn btn-outline-primary" type="submit">View</button>
                                <button class="btn btn-outline-primary" type="submit">Update</button>
                                <button class="btn btn-outline-primary" type="submit">Delete</button>
                            </div>
                          </div>
                          <div class="card mx-5 my-3">
                            <div class="card-body">
                                <p>Job Title</p>
                                <p>Date Posted</p>
                                <button class="btn btn-outline-primary" type="submit">View</button>
                                <button class="btn btn-outline-primary" type="submit">Update</button>
                                <button class="btn btn-outline-primary" type="submit">Delete</button>
                            </div>
                          </div>
            
                          
                        </div>

                        
                    </section>

                </div>
            </div>
        </div>

    </main>

    </body>
    </html>